@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
}


/* NAVBAR */


.navbar{
  display: flex;
  justify-content: space-between;
  background: rgb(59, 37, 37);
  padding: 1rem;
  align-items: center;
}



.logo img{
  width: 50px;
  border-radius: 15px;
  transition: .4s;
}

.logo img:hover{
  transform: translateY(-0.2rem);
  border: 1.2px solid aliceblue;
  
}

.nav-links{
  display: flex;
  font-size: 0.6rem;
  gap: 2em;
  display: none;
}

.nav-links a{
  color: grey;
  text-decoration: none;
  transition: .3s;
}

.nav-links a:hover{
  color: white;
}

.navbar-left{
  display: flex;
  gap: 1rem;
}

.logo-title h1{
  font-size: 1.2rem;
  color: rgb(225, 218, 218);
  font-family: "Bebas Neue", sans-serif;
}

.logo-title h2{
  color: grey;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1rem;
  font-weight: 100;
}

.navbar button{
  background-color: rgb(223, 105, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 999px;
  font-size: .9rem;
  padding: 0.8em;
  transition: .3s;
}

.navbar button:hover{
  color: white;
  transform: translateY(-2px)
}

.navbar a{
  text-decoration: none;
}

/* HERO SECTION */

.hero {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.timings{
  border: 2px solid rgb(185, 67, 3);
  font-size: 0.9rem;
  text-align: center;
  border-radius: 15px;
  padding: 0.3rem;
  background-color: rgb(82, 34, 17)
}

.hero-heading{
  margin-top: 1rem;
}

.hero-heading p{
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.8rem;
  line-height: 0.9;
}

.hero-heading span{
  color: rgb(255, 89, 0);
}

.hero-description{
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}

.hero-description p{
  font-size: 1rem;
  font-weight: 100;
}

.hero-text button{
  font-family: "Bebas Neue", sans-serif;
  margin: 0.5rem 0.3rem;
  font-size: 1.2rem;
  padding: 0.8rem;
  border: 1.5px solid orangered;
  background-color: rgb(213, 93, 12);
  border-radius: 999px;
  color: rgb(219, 211, 211);
  transition: .3s;
}

.hero-text button:hover{
  transform: translateY(-2px);
  border-color: aliceblue;
}

.hero-image img{
  margin-top: 1rem;
  max-width: 300px;
  width: 100%;
  border-radius: 25px;
}


/* INFO SECTION */

.info{
  margin: 2rem 1rem;
}

.info-rating{
  margin: 0.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
}

.rating-stars{
  color: rgb(255, 89, 0);
}

.info-rating span{
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
}

.info-grid{
  margin-top: 2rem;
  display: grid;
  gap: 0.3rem;
  justify-content: space-evenly;
  grid-template-columns: repeat(2, 1fr);
}

.info-card{
  text-align: center;
  padding: 1rem;
  font-family: "Bebas Neue", sans-serif;
}

.info-card{
  background-color: rgb(25, 11, 7);
  border: 2px solid rgb(12, 1, 1);
}

.info-card h2{
  font-size: 3rem;
  color: rgb(255, 89, 0);
}

.info-card i{
  margin-left: 0.2rem;
  font-size: 2.8rem;
}



















/* MEDIA QUERIES */

@media (min-width: 768px){

  .logo img{
    width: 60px;
  }

  .logo-title h1{
    font-size: 1.7rem;
  }

  .logo-title h2{
    font-size: 1.2rem;
  }

  .navbar button{
    font-size: 1rem;
  }

  .nav-links{
    display: flex;
  }

  .hero{
    flex-direction: row;
    text-align: left;
  }

  .hero-text{
    width: 50%;
  }

  .hero-heading p{
    font-size: 6rem;
  }

  .info-grid{
    grid-template-columns: repeat(4, 1fr);
  }
  

}

@media (min-width: 1025px){
  
}

@media (min-width: 1281px){

}