@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
}


/* NAVBAR */


.navbar{
  display: flex;
  justify-content: space-between;
  background: rgb(59, 37, 37);
  padding: 1rem;
  align-items: center;
}



.logo img{
  width: 60px;
  border-radius: 15px;
  transition: .4s;
}

.logo img:hover{
  transform: translateY(-0.2rem);
  border: 1.2px solid aliceblue;
  
}

.nav-links{
  display: flex;
  font-size: 0.6rem;
  gap: 2em;
}

.nav-links a{
  color: grey;
  text-decoration: none;
  transition: .3s;
}

.nav-links a:hover{
  color: white;
}

.navbar-left{
  display: flex;
  gap: 1rem;
}

.logo-title h1{
  font-size: 1.7rem;
  color: rgb(225, 218, 218);
  font-family: "Bebas Neue", sans-serif;
}

.logo-title h2{
  color: grey;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
}

.navbar button{
  background-color: rgb(223, 105, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 999px;
  font-size: 1rem;
  padding: 0.8em;
  transition: .3s;
}

.navbar button:hover{
  color: white;
  transform: translateY(-2px)
}

.navbar a{
  text-decoration: none;
}



/* HERO */


.hero{
  margin: 2rem 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-text{
  width: 50%;
}

.hero-image img{
  width: 27rem;
  border-radius: 25px;
}

.timings span{
  display: inline-block;
  background-color: rgb(177, 88, 19);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  padding: 0.5em;
  border-radius: 999px;
  color: white;
  border: 2px solid rgb(255, 106, 0);
}

.hero-heading{
  margin-top: 1rem;
}

.hero-heading p{
  font-family: "Bebas Neue", sans-serif;
  font-size: 7rem;
  line-height: 0.9;
}

.hero-heading span{
  color: rgb(255, 106, 0);
}

.hero-description{
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.hero-description p{
  font-size: 1.5rem;
  color: grey;
}

.hero-text button{
  font-family: "Montserrat";
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 999px;
  background-color: rgb(255, 106, 0);
  border: 2px solid orangered;
  margin-right: 1rem;
}

.hero-text button:hover{
  transform: translateY(-2px);
  border: 2px solid rgb(238, 230, 230);
}